<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Boutique de Vêtements</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <header>
        <h1 class="animated-header">Nike Store</h1>
        <div>
            🛒 Panier (<span id="cart-count">0</span>) - Total : <span id="cart-total">0.00€</span>
            <button id="cart-btn" onclick="goToCart()">Voir le panier</button>
        </div>
    </header>
    
    <div class="container">
        <!-- Article 1 -->
        <div class="article">
            <img src="/public/images/1.png" alt="Vêtement 1">
            <h2>T-Shirt KC</h2>
            <p>29.99€ TTC</p>
            <div class="quantity-controls">
                <button onclick="updateQuantity(0, -1)">-</button>
                <span class="quantity" id="quantity-0">0</span>
                <button onclick="updateQuantity(0, 1)">+</button>
            </div>
        </div>
    
        <!-- Article 2 -->
        <div class="article">
            <img src="/public/images/2.png" alt="Vêtement 2">
            <h2>T-Shirt à la plage</h2>
            <p>29.99€ TTC</p>
            <div class="quantity-controls">
                <button onclick="updateQuantity(1, -1)">-</button>
                <span class="quantity" id="quantity-1">0</span>
                <button onclick="updateQuantity(1, 1)">+</button>
            </div>
        </div>
    
        <!-- Article 3 -->
        <div class="article">
            <img src="/public/images/3.png" alt="Vêtement 3">
            <h2>T-Shirt distingué</h2>
            <p>29.99€ TTC</p>
            <div class="quantity-controls">
                <button onclick="updateQuantity(2, -1)">-</button>
                <span class="quantity" id="quantity-2">0</span>
                <button onclick="updateQuantity(2, 1)">+</button>
            </div>
        </div>
    </div>
    <script src="/public/scripts.js"></script>
</body>
</html>