<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Boutique de Vêtements</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <header>
        <h1>Nike Store</h1>
    </header>

    <div class="container">
        <div class="article">
            <img src="/public/images/1.png" alt="Vêtement 1">
            <h2>T-Shirt Mode</h2>
            <p>Un t-shirt tendance et confortable.</p>
            <button onclick="ajouterAuPanier(1)">Ajouter au panier</button>
        </div>
    </div>

    <script src="../public/scripts.js"></script>
</body>
</html>
