<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Nike Shop - Accueil</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="/scripts.js"></script>


</head>
<body>
  <header class="hero">
    <h1 class="hero-title">Nike Shop</h1>
    <p class="tagline">Boost Your Style. Boost Your Game.</p>
    <div class="header-links">
      <a href="/cart" class="btn-cart">🛒 Mon Panier</a>
      <a href="/logout" class="btn-logout">Se déconnecter</a>
    </div>
  </header>

  <section class="products">
    <% products.forEach(p => { %>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9" alt="Téléphone" style="width: 250px; border-radius: 20px;" />
        <h3><%= p.name %></h3>
        <form action="/add-to-cart/<%= p.id %>" method="POST">
          <button class="add-btn">Ajouter au panier</button>
        </form>
      </div>
    <% }) %>
  </section>

 

</body>

</html>
