<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Boutique de Vêtements</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <!-- En-tête -->
    <header>
        <h1 class="animated-header">Nike Store</h1>
    </header>
    <a href="/views/index.html">Page accueil</a>
    

    <!-- Conteneur principal -->
    <div class="container">
        
        <!-- Article 1 -->
        <div class="article">
            <img src="/public/images/1.png" alt="Vêtement 1">
            <h2>T-Shirt KC</h2>
            <p>29.99$ TTC</p>
            <button>Ajouter au panier</button>
        </div>

        <!-- Article 2 -->
        <div class="article">
            <img src="/public/images/2.png" alt="Vêtement 2">
            <h2>T-Shirt à la plage </h2>
            <p>29.99$ TTC</p>
            <button>Ajouter au panier</button>
        </div>

        <!-- Article 3 -->
        <div class="article">
            <img src="/public/images/3.png" alt="Vêtement 3">
            <h2>T-Shirt distingué</h2>
            <p>29.99$ TTC</p>
            <button>Ajouter au panier</button>
        </div>

    </div>

</body>
</html>
